<p id="notice"><%= notice %></p>

<p>
  <strong>Match date:</strong>
  <%= @score.match_date %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @score.tournament.name %>
</p>
<p>
  <strong>Player one:</strong>
  <%= @score.player_one.name %>
</p>

<p>
  <strong>Player two:</strong>
  <%= @score.player_two.name%>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @score.winner.name %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
